
.profile{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: auto;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-author {
    display: flex;
    align-items: center; /* Canh các thành phần vào trung tâm */
    width: 100%;
    height: auto;
    padding: 20px; /* Khoảng cách giữa các phần */
}

.profile-author .image-item {
    width: 300px; /* Độ rộng của hình ảnh */
    height: 300px; /* Chiều cao của hình ảnh */
    margin-right: 20px; /* Khoảng cách từ hình ảnh đến phần thông tin */
}

.profile-author .information {
    flex: 1; /* Phần thông tin sẽ chiếm phần còn lại của không gian */
    background-color: white; /* Màu nền của phần thông tin */
    padding: 10px; /* Khoảng cách bên trong phần thông tin */
}


.items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.items .item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    height: 250px;
    width: 300px;
    margin: 0 15px 15px 15px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.items .item:hover{
    background-color: rgb(219, 219, 219);
}
.space-content-abstract{
    display: -webkit-box;
    -webkit-line-clamp: 3;     
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.space-content-conference-name{
    display: -webkit-box;
    -webkit-line-clamp: 1;     
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.space-content-author-name{
    display: -webkit-box;
    -webkit-line-clamp: 1;     
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.space-content {
    line-height: 20px;
}

.space-content p{
    margin: 0;
}

.detail-content{
    font-size: 14px;
}
.item h3{
    margin-bottom:0;
    padding-bottom: 0; 
}

.date {
    font-size: 0.9em;
    color: hsl(0, 0%, 40%);
    padding: 0;
}
.item h3{
    margin-bottom:0;
    padding-bottom: 0; 
}
